.post-Image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: solid 1px #808080;
    border-radius: 4px;
  }

.post-image {
    height: 200px;
}

.space-footer {
  margin-bottom: 16px;
}